<!--
<div class="order-confirmation">
  <h1 class="order-title">Confirmação de Compra</h1>

  <div class="order-box">
    <div class="order-item">
      <span class="order-label">Código do Pedido</span>
      <span class="order-value">{{ pedido.codigo }}</span>
    </div>

    <div class="order-item">
      <span class="order-label">Data</span>
      <span class="order-value">{{ pedido.data | date: 'dd/MM/yyyy' }}</span>
    </div>

    <div class="order-item">
      <span class="order-label">Total</span>
      <span class="order-value">{{ pedido.total | currency: 'BRL' }}</span>
    </div>

    <div class="order-item">
      <span class="order-label">Forma de Pagamento</span>
      <span class="order-value">{{ pedido.pagamento }}</span>
    </div>

    <button routerLink="/home" class="back-button">Voltar à Loja</button>
  </div>
</div>
-->