<header class="header" [class.header-home]="isHome">

  <span class="material-icons hamburger" (click)="toggleMenu()">menu</span>

  <nav class="menu" [class.active]="menuOpen">
    <div class="menu-item">
      <a routerLink="/home" (click)="fecharMenu()">HOME</a>
    </div>
    <div class="menu-item">
      <a routerLink="/aulas" (click)="fecharMenu()">AULAS</a>
    </div>
    <div class="menu-item">
      <a routerLink="/produtos" (click)="fecharMenu()">PRODUTOS</a>
    </div>
    <div class="menu-item" *ngIf="tipoUsuario === 'administrador' && usuarioLogado">
      <a routerLink="/admin" (click)="fecharMenu()">ADMINISTRADOR</a>
    </div>
    <div class="menu-item">
      <a (click)="scrollTo('sobre'); fecharMenu()">SOBRE</a>
    </div>
  </nav>

  <div class="logo">
    <a routerLink="/home">
      <img src="/assets/images/logo.png" alt="Logo">
    </a>
  </div>

  <div class="menu-icon">

    <a *ngIf="usuarioLogado" routerLink="/historico-agendamentos" class="historico-icon">
      <span class="material-icons">calendar_month</span>
    </a>

    <span class="material-icons" (click)="abrirCarrinho()">shopping_bag</span>

    <span class="material-icons" (click)="abrirUsuario()">account_circle</span>

    <div id="menu-usuario" class="menu-usuario">
      <p *ngIf="usuarioLogado">Olá, {{ nomeUsuario }}!</p>
      <hr class="divisor" />
      <button (click)="sairDaConta()">Sair</button>
    </div>

  </div>

</header>