* {
  margin: 0;
  box-sizing: border-box;
}

/* Header Container */
.header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  background-color: #93b0ce;
    z-index: 9999; 
  }

.header.header-home {
  background-color: transparent;
  color: #000;
}

/* Hamburguer */
.hamburger {
  display: none;
  font-size: 36px;
  cursor: pointer;
  color: #000;
  z-index: 3;
}

/* Menu */
.menu {
  display: flex;
  gap: 40px;
  z-index: 2;
  transition: all 0.3s ease;
}

.menu-item a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.menu-item a:hover {
  font-weight: 800;
}

/* Logo */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo img {
  max-height: 100%;
  max-width: 150px;
  object-fit: contain;
}

.menu-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.menu-icon .material-icons {
  font-size: 32px;
  color: #000;
  cursor: pointer;
}

.menu-icon:hover .material-icons:hover {
  font-size: 35px;
}

/* Menu do usuário */
.menu-usuario {
  display: none;
  position: absolute;
  top: 80px;
  right: 50px;
  background-color: #f6fafc;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.menu-usuario::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.menu-usuario.ativo {
  display: block;
}

.menu-usuario button {
  background: none;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.menu-usuario button:hover {
  color: #0c6ec3;
  font-size: 16px;
}

.menu-usuario .divisor {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}

.menu-icon,.historico-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 2;
  text-decoration: none;
}

.menu-icon .material-icons,.historico-icon .material-icons {
  font-size: 32px;
  color: #000;
  cursor: pointer;
}

.menu-icon:hover .material-icons:hover,.historico-icon:hover .material-icons {
  font-size: 35px;
}


/* -------------------- Responsivo -------------------- */
@media (max-width: 1024px) {
  .header {
    padding: 0 30px;
  }
  .menu {
    gap: 20px;
  }
  .logo img {
    max-width: 150px;
  }
  .menu-icon .material-icons {
    font-size: 28px;
  }
}

/* Mobile (telas pequenas) */
@media (max-width: 768px) {
  .header {
    height: 120px;
    padding: 0 15px;
  }

  .hamburger {
    display: block;
  }

  .hamburger:hover {
    font-size: 38px;
    display: block;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu.active {
    display: flex;
    animation: slideDown 0.3s ease;
  }

  .menu-item {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  .menu-item a {
    font-size: 16px;
  }

  /* Logo menor */
  .logo img {
    max-width: 120px;
  }

  /* Ícones direita */
  .menu-icon .material-icons {
    font-size: 25px;
  }

  .menu-usuario {
    top: 80px;
    right: 20px;
  }
  .menu-icon:hover .material-icons:hover {
  font-size: 27px;
}
}

/* Animação */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
