<!-- AVISO: O header e o Footer já estão importado em todas as paginas. 
     Não é necessário criar outro header ou footer nesta página. -->

<div class="aula-container">
     <h1 class="page-title">AULAS</h1>

     <div class="cards-aulas">
          <!-- Card Iniciante -->
          <article class="card-aula iniciante">
               <h3>INICIANTE</h3>

               <img src="assets/images/aula-iniciante.jpg" alt="Aula para iniciantes">
               <p class="descricao">
                    Aprenda a pegar suas primeiras ondas com segurança! Técnicas básicas, equilíbrio e prática
                    supervisionada em águas rasas. </p>
               <div class="info-curso">
                    <span class="carga-horaria">Carga Horária: 1h30</span>
                    <span class="preco">R$160,00</span>
               </div>
               <div class="botao-aulas">
                    <a routerLink="/agendamento" class="btn-agendar">AGENDAR</a>
               </div>
          </article>

          <!-- Card Intermediário -->
          <article class="card-aula intermediario">
               <h3>INTERMEDIÁRIO</h3>

               <img src="assets/images/aula-intermediario.jpg" alt="Aula intermediária">
               <p class="descricao">
                    Aprimore suas manobras e controle na prancha. Treinos em ondas maiores e orientação para melhorar
                    seu desempenho. </p>
               <div class="info-curso">
                    <span class="carga-horaria">Carga Horária: 1h30</span>
                    <span class="preco">R$180,00</span>
               </div>
               <div class="botao-aulas">
                    <a routerLink="/agendamento" class="btn-agendar">AGENDAR</a>
               </div>
          </article>

          <!-- Card Avançado -->
          <article class="card-aula avancado">
               <h3>AVANÇADO</h3>
               <img src="assets/images/aula-avancado.jpg" alt="Aula avançada">

               <p class="descricao">
                    Domine manobras avançadas e explore ondas desafiadoras. Treinamento intensivo para surfistas
                    experientes que querem se superar. </p>
               <div class="info-curso">
                    <span class="carga-horaria">Carga Horária: 1h30</span>
                    <span class="preco">R$200,00</span>
               </div>
               <div class="botao-aulas">
                    <a routerLink="/agendamento" class="btn-agendar">AGENDAR</a>
               </div>
          </article>
     </div>


</div>