

.titulo-pagina {
  font-size: 1.8rem;
  font-weight: 700;
  color: #222;
  margin: 20px 0 40px;
}

.produtos-wrapper {
  background-color: #cabdb4;
  padding: 5rem 2rem;
}

.titulo-pagina {
  font-size: 2rem;
  margin-bottom: 3rem;
  letter-spacing: -0.05em;
  font-weight: 700;
  text-align: center;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.produto-card {
  background-color: #fff;
  border-radius: 10px;
  width: 250px;
  padding-bottom: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.produto-card:hover {
  transform: scale(1.05);
}

.produto-imagem {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.produto-nome {
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.produto-descricao {
  font-size: 0.95rem;
  padding: 0 1rem;
  color: #555;
}

.produto-preco {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.btn-adicionar {
  display: inline-block;
  background-color: #93b0ce;
  color: #000;
  font-weight: 900;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.btn-adicionar:hover {
  background-color: #7697b7;
  color: #fff;
}

@media (max-width: 1024px) {
  .produtos-container {
    gap: 1.5rem;
  }

  .produto-card {
    width: 220px;
  }

  .produto-imagem {
    height: 300px;
  }
}

/* Celulares (até 768px) */
@media (max-width: 768px) {
  .produtos-wrapper {
    padding: 3rem 1rem;
  }

  .titulo-pagina {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .produtos-container {
    flex-direction: column;
    align-items: center;
  }

  .produto-card {
    width: 90%;
    max-width: 350px;
  }

  .produto-imagem {
    height: 250px;
  }

  .btn-adicionar {
    width: 80%;
    padding: 0.8rem;
  }
}

/* Telas muito pequenas (até 480px) */
@media (max-width: 480px) {
  .titulo-pagina {
    font-size: 1.5rem;
  }

  .produto-imagem {
    height: 200px;
  }

  .produto-descricao {
    font-size: 0.85rem;
  }

  .produto-preco {
    font-size: 1rem;
  }
}
