<div class="produtos-wrapper">
     <h2 class="titulo-pagina">PRODUTOS</h2>
     <div class="produtos-container">
          <div class="produto-card" *ngFor="let p of produtos">
               <img *ngIf="p.imagem" [src]="'http://localhost:5010/' + p.imagem" [alt]="p.nome"
                    class="produto-imagem" />
               <div class="produto-info">
                    <h3 class="produto-nome">{{ p.nome }}</h3>
                    <p class="produto-descricao">{{ p.descricao }}</p>
                    <p class="produto-preco">{{ p.preco | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
                    <button class="btn-adicionar" (click)="adicionarAoCarrinho(p)">Adicionar ao carrinho</button>
               </div>
          </div>
     </div>
</div>