html, body {
  height: 100%;
  margin: 0;
}

.produtos-wrapper {
 
  min-height: calc(100vh - 200px);
  background-color: #eaeaea;
  padding: 60px 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-pagina {
  font-size: 1.7rem;
  font-weight: 700;
  color: #222;
  margin-top: 20px;
  margin-bottom: 40px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.produto-card {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  background-color: #fff;
  text-align: center;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.produto-card:hover {
  border-color: #00897b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto-imagem {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.produto-nome {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 8px 0 4px 0;
}

.produto-descricao {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.produto-preco {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}

.btn-adicionar {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #1ABC9C;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s;
}

.btn-adicionar:hover {
  background-color: #FF6F61;
  color: #FFFFFF;
}


/* 93B0CE */