/* ======== CONFIGURAÇÕES GERAIS ======== */
main {
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  color: #000;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
}

.background {
  background-image: url("../../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ======== AULAS ======== */
.aulas {
  background-color: #93b0ce;
  padding: 6rem 5rem;
}

.aulas h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  letter-spacing: -0.05em;
  font-weight: 700;
}

.cards-aulas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0.5rem;
  justify-items: center;
  padding: 0 8rem;
}

.card-aula {
  background-color: #ffffff03;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.card-aula img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-aula h3 {
  background-color: #cabdb4;
  margin: 0;
  padding: 1rem 0;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.card-aula:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.btn-agendamentos {
  display: inline-block;
  background-color: #fff;
  color: #000;
  font-weight: 900;
  padding: 1rem 3rem;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 50px;
}

.btn-agendamentos:hover {
  background-color: #e1e1e1;
}

/* ======== DESTAQUE ======== */
.destaques {
  background-color: #cabdb4;
  padding: 5rem 2rem;
}

.destaques h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  letter-spacing: -0.05em;
  font-weight: 700;
}

.produto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.produto {
  background-color: #fff;
  border-radius: 10px;
  width: 250px;
  padding-bottom: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.produto img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.produto h3 {
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.produto p {
  font-size: 0.95rem;
  padding: 0 1rem;
}

.produto:hover {
  transform: scale(1.05);
}

.btn-ver-mais {
  display: inline-block;
  background-color: #93b0ce;
  color: #000;
  font-weight: 900;
  padding: 1rem 3rem;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 50px;
}

.btn-ver-mais:hover {
  background-color: #7697b7;
  color: #fff;
}

/* ======== SOBRE ======== */
.sobre {
  position: relative;
  background-color: #fff;
  padding: 10rem 5rem 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.ilustracao img {
  width: 700px;
  max-width: 100%;
  height: 550px;
  margin-bottom: -5px;
}

.texto {
  max-width: 500px;
  text-align: justify;
  margin-bottom: 320px;
}

.texto .subtitulo {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
  margin-bottom: 1rem;
  text-align: center;
}

.sobre .texto .subtitulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6rem;
}

.linha-onda {
  width: 100px;
  height: 4px;
  background-color: #93b0ce;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8rem;
  border-radius: 5px;
}

.texto h2 {
  font-size: 2rem;
  margin: 2.5rem 0 1rem;
  font-weight: 700;
}

.texto p {
  font-size: 1.25rem;
  line-height: 1.7rem;
  color: #333;
}

/* ======== PROFESSOR ======== */
.professor {
  position: absolute;
  bottom: 0;
  right: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

.professor .foto img {
  width: 100%;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.professor .info {
  display: flex;
  flex-direction: column;
}

.professor .info h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .sobre {
    gap: 2rem;
  }

  .ilustracao img {
    width: 550px;
    max-width: 100%;
    height: 400px;
    margin-bottom: -150px;
  }

  .card-aula {
    width: 250px;
  }

  .card-aula img {
    height: 200px;
  }

  .card-aula h3 {
    font-size: 1rem;
    padding: 0.8rem 0;
  }

  .produto-container {
    gap: 0.8rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .produto {
    width: 200px;
    padding-bottom: 0.5rem;
  }

  .produto img {
    height: 300px;
  }

  .produto h3 {
    font-size: 1rem;
  }

  .produto p {
    font-size: 0.85rem;
  }
}

@media (max-width: 1100px) {
  .sobre {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 5rem 3rem 0 3rem;
  }

  .ilustracao,
  .ilustracao img {
    width: 500px;
    height: 400px;
  }

  .aulas {
    padding: 6rem 2rem;
  }

  .cards-aulas {
    padding: 0 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .destaques {
    padding: 5rem 11rem;
  }

  .produto-container {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .texto {
    max-width: 400px;
    margin-bottom: 0px;
  }

  .sobre .texto .subtitulo,
  .linha-onda {
    position: static;
    transform: none;
    margin: 1rem auto;
  }

  .professor {
    position: static;
    flex-direction: column;
    text-align: center;
  }

  .professor .foto img {
    margin: 1rem 1rem 0 1rem;
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 768px) {
  .background {
    height: 60vh;
  }

  .aulas {
    padding: 4rem 1rem;
  }

  .cards-aulas {
    grid-template-columns: 1fr;
  }

  .destaques {
    padding: 5rem 2rem;
  }

  .sobre {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    padding: 5rem 3rem 0 3rem;
  }

  .subtitulo {
    font-size: 1.2rem;
  }

  .linha-onda {
    width: 90px;
  }

  .texto h2 {
    font-size: 1.6rem;
  }

  .texto p {
    font-size: 1rem;
  }

  .ilustracao img {
    max-width: 100%;
  }

  .professor {
    position: static;
    flex-direction: column;
    text-align: center;
  }

  .professor .foto img {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 550px) {
  .aulas h2,
  .destaques h2 {
    font-size: 1.3rem;
  }

  .produto img {
    height: 250px;
  }

  .texto h2 {
    font-size: 1.3rem;
  }

  .texto p {
    font-size: 0.9rem;
  }
  .destaques {
    padding: 5rem 1rem;
  }
  .linha-onda {
    max-width: 60px;
  }

  .ilustracao,
  .ilustracao img {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 450px) {
  .ilustracao,
  .ilustracao img {
    width: 300px;
    height: 200px;
  }
}
