<div class="admin-container">

    <nav class="sidebar">
        <h3>Navegação</h3>
        <ul>
            <li><a routerLink="/admin/agendamentos">Agendamentos</a></li>
            <li><a routerLink="/admin/clientes">Clientes</a></li>
            <li><a routerLink="/admin/pedidos">Pedidos</a></li>
            <li><a routerLink="/admin/produtos">Produtos</a></li>
        </ul>
    </nav>

    <main class="main-content">
        <h2 class="titulo-pagina">Lista de Pedidos</h2>

        <table class="user-table">
            <thead>
                <tr>
                    <th>ID Venda</th>
                    <th>ID Cliente</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Data do Pedido</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of vendas">
                    <td>{{ pedido.id_venda }}</td>
                    <td>{{ pedido.cliente_id }}</td>
                    <td>{{ pedido.cliente_nome }}</td>
                    <td>{{ pedido.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
                    <td>{{ pedido.data }}</td>
                </tr>
            </tbody>
        </table>
    </main>

</div>