.cadastro-produto {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cadastro-produto h2 {
  text-align: center;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: #005fa3;
}

.preview img {
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}
