<div class="admin-container">

    <nav class="sidebar">
        <h3>Navegação</h3>
        <ul>
            <li><a routerLink="/admin/agendamentos">Agendamentos</a></li>
            <li><a routerLink="/admin/clientes">Clientes</a></li>
            <li><a routerLink="/admin/pedidos">Pedidos</a></li>
            <li><a routerLink="/admin/produtos">Produtos</a></li>
            
        </ul>
    </nav>

    <main class="main-content">
       <h2 class="titulo-pagina">Área do Administrador</h2> 
        <h3>Bem-vindo à área do administrador</h3>
        <br>
        <p>Use o menu à esquerda para navegar entre Produtos, Agendamentos, Clientes e Pedidos.</p>
    </main>

</div>