<!-- AVISO: O header e o Footer já estão importado em todas as paginas. 
     Não é necessário criar outro header ou footer nesta página. -->


<div class="confirmacao-container">
  <div class="card">
    <h1 class="titulo-confirmacao">Agendamento confirmado<br />com sucesso!</h1>

    <div class="detalhes">
      <div class="detalhe-item">
        <span class="detalhe-label">Nível</span>
        <span class="detalhe-valor">{{ dadosAgendamento.nivel }}</span>
      </div>

      <div class="detalhe-item">
        <span class="detalhe-label">Data:</span>
        <span class="detalhe-valor">{{ dadosAgendamento.data }}</span>
      </div>

      <div class="detalhe-item">
        <span class="detalhe-label">Total:</span>
        <span class="detalhe-valor">{{ dadosAgendamento.total }}</span>
      </div>

      <div class="detalhe-item">
        <span class="detalhe-label">Método de Pagamento</span>
        <span class="detalhe-valor">{{
          dadosAgendamento.metodoPagamento
        }}</span>
      </div>
    </div>
  </div>
</div>


     
