<div class="admin-container">

    <nav class="sidebar">
        <h3>Navegação</h3>
        <ul>
            <li><a routerLink="/admin/agendamentos">Agendamentos</a></li>
            <li><a routerLink="/admin/clientes">Clientes</a></li>
            <li><a routerLink="/admin/pedidos">Pedidos</a></li>
            <li><a routerLink="/admin/produtos">Produtos</a></li>
        </ul>
    </nav>

    <main class="main-content">
        <h2>Lista de Produtos</h2>

        <div class="acoes-superiores">
            <a routerLink="/admin/cadastrar-produto" class="btn-adicionar btn-inserir">Inserir Produto</a>
        </div>

        <table class="produtos-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of produtos;">
                    <td>{{ p.id_produto }}</td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.descricao }}</td>
                    <td>{{ p.preco | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
                    <td>
                        <img *ngIf="p.imagem" [src]="'http://localhost:5010/' + p.imagem" [alt]="p.nome"
                            class="produto-imagem-tabela">
                    </td>
                    <td>
                        <a [routerLink]="['/admin/cadastrar-produto', p.id_produto]" class="btn-adicionar">Alterar</a>
                        <button class="btn-excluir" (click)="excluirProduto(p.id_produto)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

</div>