<!-- TABELA AULAS -->
<section class="agendamento">
  <div>
  <h2>Agendamento</h2>
  <table>
    <thead>
      <tr>
        <th><input type="checkbox" /></th>
        <th>Nível</th>
        <th>ID</th>
        <th>Data</th>
        <th>Cliente</th>
        <th>Status</th>
        <th>Valor</th>
      </tr>
    </thead>
  </table>
  </div>
</section>

<!-- BARRA LATERAL -->
 <nav class="sidebar">
  <div class="logo">
    <img 
    src="../../../assets/images/logo.png" alt="Swell Treinamentos">
    <h3>Swell Treinamentos</h3>
  </div>

  <ul>
    <li><a routerLink="/produtos">📦 Todos os Produtos</a></li>
    <li><a routerLink="/cadastro-produto">➕ Cadastrar Produto</a></li>
    <li><a routerLink="/agendamento">📅 Agendamento</a></li>
    <li><a routerLink="/pedidos">🧾 Lista de Pedidos</a></li>
  </ul>
</nav>


